%main.c-main
  .container-fluid
    .row
      .col
        .card
          .card-body
            - if @branch.any?
              = render partial: "index_list"
            - else
              %p
                No areas found

=render partial: "admin/branches/modals/new"